.VsFoot
{
    border-top: 1px solid #ccc;
    font-size: 11px;

    padding: 20px 2%;

    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;

    &.VsStackedLayout
    {
        justify-content: space-between;
    }

    & .VsStackedLayout__item
    {
        flex-grow: 1;

        &:first-child
        {
            flex-grow: 8;
        }
    }
}
