node_modules/
private-key.pem

.enb/tmp/
libs/

forms/*.bundles*/*/*.*
!forms/*.bundles*/*/*.bemjson.js
!forms/*.bundles*/index/*.bemdecl.js
!forms/*.bundles*/class/*.bemdecl.js
!forms/*.bundles*/badge/*.bemdecl.js
