.VsHead
{
    background: #f6f5f3;
    height: 50px;
}

.VsHead__left.VsStackedLayout__item,
.VsHead__right.VsStackedLayout__item
{
    display: flex;
    align-items: center;
}

.VsHead__left.VsStackedLayout__item
{
    flex-grow: 1;
}
