<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Awarding</title>
    </head>
    <body>
        <b>Manual awarding</b>
        <form action="/manual-awarding" method="post">
            <p>Email:</p>
            <input name="email"><p>

            <select size="<%- size %>" name="name">
                <option disabled>Choose the badge name</option>
                <% _.forEach(names, function(name) { %><option value="<%- name %>"><%- name %></option><% }); %>
            </select>

            <p><input type="submit" value="Create badge"></p>
        </form>
    </body>
</html>
